.header {
    position: fixed;
    width: 100%;
    grid-area: h;
    background-color: rgb(24, 26, 27);
    box-shadow: 0 0 2px white;
    display: inline-block;
}

.header img {
    width: 12%;
    height: 50px;
    padding-left: 80px;
}

.header.dark-theme {
    grid-area: h;

}

.loging {
    position: absolute;
    margin-left: 100px;
}

.logger {
    border: none;
    outline: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 5px 15px;
    border-radius: 100px;
    color: white;
    margin: 5px;
    background-color: rgb(24, 26, 27);
    height: 40px;

}


.logger:hover {
    color: white;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: gray;
}

.Nav {
    margin-left: 200px;
}

.Button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 5px 15px;
    border-radius: 100px;
    color: white;
    margin: 5px;
    background-color: rgb(24, 26, 27);
    height: 40px;

}


.Button:hover {
    color: white;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: gray;
}
