table, td {
    border: 2px solid white;
    border-collapse: collapse;
    min-width: 50px;
    color: white;
}

.tables {
    padding: 15px;
    
}

.TextArea {
    color: white;
    margin: 20px;
}

.activate {
    grid-area: b;
    border: none;
    outline: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 5px 15px;
    border-radius: 100px;
    color: white;
    margin: 5px;
    background-color: rgb(23, 26, 27);
    height: 50px;

}


.activate:hover {
    color: white;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: gray;
}

.DIV {
    color: white
}

.tabler { 
    display: block;
    margin-right: auto;
    margin-left: auto;
}