.input {
    border-radius: 10px;
    padding-right: 20px;
}

.LoginInside {
    grid-area: b;
    border: none;
    outline: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 5px 15px;
    border-radius: 100px;
    color: black;
    padding-right: 20px;
    background-color: white;
    height: 50px;

}


.LoginInside:hover {
    color: black;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: aliceblue;
}